<div>
  <div class="lg:max-w-[50%] m-auto my-16">
    <app-search
      [placeh]="'Busca usuarios ...'"
      (eventValueText)="getTextUser($event)"
      [currentUsers]="currentUsers()"
    >
    </app-search>
  </div>

  <div class="text-center">
    <small class="text-[1.7rem] ml-0 text-white tracking-tight font-semibold"
      >Administradores</small
    >
  </div>

  <app-card-user
    [roleUserName]="'admin'"
    *ngIf="adminUsers.length > 0"
    [usersArray]="adminUsers"
  ></app-card-user>
</div>
<div class="my-10" *ngIf="normalUsers.length > 0">
  <div class="text-center">
    <small class="text-[1.7rem] ml-0 text-white tracking-tight font-semibold"
      >Usuarios</small
    >
  </div>
  <app-card-user
    [roleUserName]="'usuario'"
    *ngIf="normalUsers.length > 0"
    [usersArray]="normalUsers"
  ></app-card-user>
</div>
