<div class="Banner-title text-center mt-5">
  <small class="text-[2.5rem] ml-0 text-white tracking-tight font-semibold"
    >Panel de secciones</small
  >
  <p class="text-gray-500 md:max-w-[60%] text-center m-auto mt-5">
    A continuación se mostrará los conceptos disponibles dentro de la sección
    {{ currentSection() }}, el contenido es editable desde el panel de
    administradores.
  </p>
</div>

<article class="Banner text-white h-full flex items-center justify-center">
  <div class="Banner-container flex-col md:flex-row my-10">
    <div class="Banner-section Banner-section-description flex-1">
      <h1 class="Banner-h1 text-[2.5rem] font-bold space-y-10">
        Bienvenido a la sección {{ currentSection() | titlecase }}
      </h1>
      <p class="Banner-p Banner-p--lead text-[1.3rem] text-gray-400 my-5">
        Aquí podrás encontrar el contenido de la sección en curso, es importante
        en entender el contexto que describe la sección, ya que abarca un punto
        en el flujo del sistema,
      </p>

      <a href="" class="mt-5 text-[1.1rem] text-blue-600">
        Necesito más ayuda con esto, tengo preguntas por resolver..</a
      >
    </div>
    <div class="Banner-section Banner-section--content flex-1 m-5">
      <div
        *ngFor="let item of secciones()"
        class="Banner-card rounded-lg hover:cursor-pointer hover:bg-sky-400 hover:bg-opacity-5 border-l-8 px-5 mb-5 border-pink-700 bg-slate-800 h-[4.5rem]"
      >
        <small class="Banner-small uppercase text-gray-400">{{
          item.panel
        }}</small>
        <h2 class="Banner-h2 text-[1.2rem] font-semibold">
          {{ item.titulo2 | titlecase }}
        </h2>
      </div>
    </div>
  </div>
</article>

<article class="border rounded-lg shadow-sm my-2">
  <div class="flex flex-col items-center mt-10">
    <h2 class="text-[2.5rem] font-bold text-white text-center">
      Los dos pilares más importantes del sistema.
    </h2>

    <p
      class="Banner-p Banner-p--lead text-[1.3rem] text-gray-400 my-2 md:w-[68%] text-center"
    >
      Revisar los componentes que pertenecen a una sección específica te ayudara
      a orientarte mejor en los paneles del sistema.
    </p>
  </div>

  <div class="flex flex-col sm:flex-row py-6">
    <div class="flex-1 p-5 flex flex-col justify-center items-center">
      <svg
        class="text-primary-600 max-w-[5rem]"
        fill="skyblue"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
      </svg>

      <h3 class="text-white font-bold text-[1.6rem]">
        Sigue el flujo correcto
      </h3>
      <p class="text-center mt-4 text-gray-400">
        Seguir el flujo correcto del sistema te permitirá añadir, actualizar y
        procesar tus cambios de una manera óptima y eficiente.
      </p>
    </div>
    <div class="flex-1 p-5 flex flex-col justify-center items-center">
      <svg
        class="text-primary-600 max-w-[5rem]"
        fill="purple"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M9.504 1.132a1 1 0 01.992 0l1.75 1a1 1 0 11-.992 1.736L10 3.152l-1.254.716a1 1 0 11-.992-1.736l1.75-1zM5.618 4.504a1 1 0 01-.372 1.364L5.016 6l.23.132a1 1 0 11-.992 1.736L4 7.723V8a1 1 0 01-2 0V6a.996.996 0 01.52-.878l1.734-.99a1 1 0 011.364.372zm8.764 0a1 1 0 011.364-.372l1.733.99A1.002 1.002 0 0118 6v2a1 1 0 11-2 0v-.277l-.254.145a1 1 0 11-.992-1.736l.23-.132-.23-.132a1 1 0 01-.372-1.364zm-7 4a1 1 0 011.364-.372L10 8.848l1.254-.716a1 1 0 11.992 1.736L11 10.58V12a1 1 0 11-2 0v-1.42l-1.246-.712a1 1 0 01-.372-1.364zM3 11a1 1 0 011 1v1.42l1.246.712a1 1 0 11-.992 1.736l-1.75-1A1 1 0 012 14v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-.504.868l-1.75 1a1 1 0 11-.992-1.736L16 13.42V12a1 1 0 011-1zm-9.618 5.504a1 1 0 011.364-.372l.254.145V16a1 1 0 112 0v.277l.254-.145a1 1 0 11.992 1.736l-1.735.992a.995.995 0 01-1.022 0l-1.735-.992a1 1 0 01-.372-1.364z"
          clip-rule="evenodd"
        ></path>
      </svg>

      <h3 class="text-white font-bold text-[1.6rem]">
        Evita distorsión en tus cambios
      </h3>
      <p class="text-center mt-4 text-gray-400">
        La distorsión en los cambios están directamente relacionados con el mal
        uso del flujo del sistema, a veces es necesario realizar cambios
        posteriores cuando ya se culminaron ciertos procesos, por lo que es
        necesario editarlos de manera manual.
      </p>
    </div>
  </div>
</article>
