<div class="Banner">
  <div class="Banner-section bg-sky-600">
    <div class="Banner-box flex flex-col md:flex-row Banner-box--width">
      <div class="Banner-container Banner-container--principal flex-1">
        <div
          class="Banner-arrow Arrow h-[3.5rem] w-[13rem] lg:h-[4.5rem] lg:w-[17rem]"
        >
          <div class="Arrow-container Arrow-container--left bg-sky-600">
            <small class="Arrow-small">Inicio</small>
          </div>
          <div class="Arrow-container Arrow-container--right bg-black">
            <small class="Arrow-small">Part 0</small>
          </div>
        </div>

        <p class="Banner-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          facere culpa doloremque consectetur neque optio odit quibusdam qui
          molestias voluptatibus provident ratione, repellendus libero. Mollitia
          qui dolorem minus similique fugit!
        </p>

        <div class="Banner-sections">
          <div class="Banner-item lg:h-[4rem]">
            <div
              class="Banner-square Banner-square--left bg-slate-900 text-white"
            >
              Seccion  de vacaciones pagadas
            </div>
            <div class="Banner-square Banner-square--right"></div>
          </div>
        </div>
      </div>
      <div class="Banner-container Banner-container-secondary flex-1">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>

<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nesciunt
    repudiandae quae, debitis et explicabo, voluptatibus suscipit maxime,
    ducimus soluta eum saepe. Cumque cum laboriosam magnam veniam consequatur
    corporis similique?
  </p>
</div>
