.Banner {
  &-container {
    display: flex;
  }

  &-h1 {
    letter-spacing: -1px;
    line-height: 2.7rem;
  }

  &-p {
    &--lead {
      line-height: 1.7rem;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
