<section
  class="CardUser hover:cursor-pointer p-5 grid grid-cols-1 xl:grid-cols-2 3xl:grid-cols-3"
>
  <div
    *ngFor="let user of usersArray"
    [routerLink]="['/admin/user/edit/', user.id]"
    class="CardUser-container m-auto flex mt-6 overflow-hidden relative flex-col items-end mx-5 border rounded-lg shadow md:flex-row md:max-w-xl border-gray-700 bg-gray-800 hover:bg-gray-700"
  >
    <img
      class="CardUser-img absolute z-10"
      [src]="user.imagenUrl | img"
      alt="image user"
    />
    <div
      class="CardUser-descriptions flex flex-col items-center w-full p-3 leading-normal z-20"
    >
      <h2 class="CardUser-h2 mb-2 text-lg font-semibold text-white">
        Role : {{ roleUserName | titlecase }}
      </h2>
      <ul
        class="CardUser-ul max-w-md flex space-y-1 list-none list-inside text-gray-400 items-center justify-center"
      >
        <li class="CardUser-li text-lg">
          {{ user.nombre | titlecase }} {{ user.apellido | titlecase }}
        </li>
      </ul>
    </div>
  </div>
</section>
