<nav class="border-gray-600 bg-gray-900">
  <div
    class="flex flex-wrap justify-between relative items-center mx-auto max-w-screen-xl p-4"
  >
    <!-- reservado para logo si hay más adelante -->
    <div class="hidden md:block"></div>

    <!-- barra de navegación (por debajo de md hamburguer) -->
    <button
      data-collapse-toggle="mega-menu-full"
      type="button"
      class="inline-flex items-center w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="mega-menu-full"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <!-- barra navegación (por encima de md)-->
    <div
      id="mega-menu-full"
      class="items-center justify-between font-medium hidden w-full md:flex md:w-auto md:order-1"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700"
      >
        <li>
          <a
            routerLink="/admin/secions/add"
            class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent border-gray-700"
            aria-current="page"
            >Agregar Sección</a
          >
        </li>
        <li>
          <button
            id="mega-menu-full-dropdown-button"
            data-collapse-toggle="mega-menu-full-dropdown"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 rounded md:w-auto md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent border-gray-700"
            aria-expanded="false"
            >
            Editar Sección
            <svg
              class="w-2.5 h-2.5 ml-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent border-gray-700"
            >Usuarios</a
          >
        </li>

        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-blue-500 md:hover:bg-transparent border-gray-700"
            >Salir</a
          >
        </li>
      </ul>
    </div>

    <!-- nav del usuario ( donde está la foto de perfil) -->
    <div class="Nabvar-box flex md:relative items-center md:order-2">
      <button
        type="button"
        class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-600"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom"
      >
        <span class="Nabvar-span sr-only">Open user menu</span>
        <img
          class="Navbar-photo w-8 h-8 rounded-full"
          src="assets/renta.jpg"
          alt="user photo"
        />
      </button>
      <!-- Dropdown menu -->
      <div
        class="Nabvar-dropdown z-50 hidden my-9 text-base list-none divide-y rounded-lg shadow bg-gray-700 divide-gray-600"
        id="user-dropdown"
      >
        <div class="px-4 py-3">
          <span class="Navbar-span block text-sm text-white">Juan Tasayco</span>
          <span class="Navbar-span block text-sm truncate text-gray-400"
            >juantasayco266@gmail.com</span
          >
        </div>
        <ul class="Navbar-ul py-2" aria-labelledby="user-menu-button">
          <li class="Navbar-li">
            <a href="#" class="Navbar-a navBarItemsUser">Ver perfil</a>
          </li>
          <li class="Navbar-li">
            <a href="#" class="Navbar-a navBarItemsUser">Editar perfil</a>
          </li>
          <li class="Navbar-li">
            <a href="#" class="Navbar-a navBarItemsUser">Eliminar perfil</a>
          </li>
          <li class="Navbar-li">
            <a href="#" class="Navbar-a navBarItemsUser">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- lógica para las barras de despliegue de algunos li en la barra de navegación -->
  <div
    *ngIf="items"
    id="mega-menu-full-dropdown"
    class="mt-1 shadow-sm border-y bg-gray-800 border-gray-600 hidden"
  >
    <div
      class="grid max-w-screen-xl px-4 py-5 mx-auto text-white sm:grid-cols-2 md:px-6"
    >
      <ul *ngFor="let item of itemsKeys; let i = index" class="mt-3">
        <li>
          <!-- button para submenus -->
          <button
            [id]="i"
            [attr.data-dropdown-toggle]="item"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 border-b md:border-0 md:p-0 md:w-auto text-white md:hover:text-blue-500 focus:text-white border-gray-700 hover:bg-gray-700 md:hover:bg-transparent"
          >
            <div class="font-semibold">{{ item | titlecase }}</div>
            <svg
              class="w-2.5 h-2.5 ml-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          <span class="text-sm text-gray-400"
            >Click para revisar el contenido de {{ item }} y realizar una
            modificación.</span
          >

          <div>
            <!-- Dropdown menu -->
            <div
              [id]="item"
              class="z-50 hidden font-normal divide-y rounded-lg shadow w-44 bg-gray-700 divide-gray-600"
            >
              <ul
                class="py-2 text-sm text-gray-400"
                aria-labelledby="dropdownLargeButton"
              >
                <li *ngFor="let section of items[item]">
                  <a
                    routerLink="/admin/sections/edit/{{ section.id }}"
                    class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                    >{{ section.titulo2 | titlecase }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
