<div
  class="Seccion grid grid-cols-1 sm:grid-cols-2  gap-y-10 gap-x-5"
>
  <div
    *ngFor="let section of sections(); let i = index"
    [routerLink]="['/guide/part', section.toLowerCase()]"
    class="Seccion-block flex flex-col items-center border rounded-lg shadow md:flex-row md:max-w-xl border-gray-700 bg-gray-800 hover:bg-gray-700"
  >
    <img
      class="Seccion-img object-cover w-full rounded-t-lg h-96 md:h-full md:w-48 md:rounded-none md:rounded-l-lg"
      [src]="section | img : 'jpg'"
      alt=""
    />
    <div class="flex flex-col justify-between px-4 py-10 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
        {{ section | titlecase }}
      </h5>
      <p class="mb-3 font-normal text-gray-400">
        Acceder a la sección {{ section }}, entra y aprende a manejar dominar
        este punto del sistema de conta.
      </p>
    </div>
  </div>
</div>

<!-- cuadro personalizado 1  -->
<!-- <div class="Seccion mx-[2rem] md:mx-[5rem] xl:mx-[2.3rem] text-white">
  <div
    *ngFor="let section of sections(); let i = index"
    [routerLink]="['/guide/part', section.toLowerCase() ]"
    class="Seccion-block h-[30rem] w-full sm:w-[49%] xl:w-[32%] lg:p-0 p-5"
  >
    <div class="Seccion-contenedor">
      <div class="Seccion-square">
        <div class="Seccion-containerImg">
          <img src="assets/test.jpg" class="Section-img" alt="img" />
        </div>
      </div>
    </div>

    <h3 class="Seccion-h3 mt-5">Parte {{ i + 1 }}</h3>
    <p class="Seccion-p mt-5">
      Descripción sobre la sección {{ section | titlecase }}
    </p>
  </div>
</div> -->
