<div class="Seccion mx-[2rem] md:mx-[5rem] xl:mx-[2.3rem]">
  <div class="Seccion-contenedor w-full sm:w-[49%] xl:w-[32%]">
    <div class="Seccion-square"></div>
  </div>

  <div class="Seccion-contenedor w-full sm:w-[49%] xl:w-[32%]">
    <div class="Seccion-square"></div>
  </div>
  <div class="Seccion-contenedor w-full sm:w-[49%] xl:w-[32%]">
    <div class="Seccion-square"></div>
  </div>
  <div class="Seccion-contenedor w-full sm:w-[49%] xl:w-[32%]">
    <div class="Seccion-square"></div>
    <div class="Seccion-descriptions">
      <h3 class="Seccion-h3 text-white">Part1</h3>
      <p class="Seccion-p"></p>
    </div>
  </div>
  <div class="Seccion-contenedor w-full sm:w-[49%] xl:w-[32%]">
    <div class="Seccion-square"></div>
    <div class="Seccion-descriptions">
      <h3 class="Seccion-h3 text-white">Part1</h3>
      <p class="Seccion-p"></p>
    </div>
  </div>
  <div class="Seccion-contenedor w-full sm:w-[49%] xl:w-[32%]">
    <div class="Seccion-square"></div>
    <div class="Seccion-descriptions">
      <h3 class="Seccion-h3 text-white">Part1</h3>
      <p class="Seccion-p"></p>
    </div>
  </div>
</div>
