.Seccion {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;

  margin: auto;
  &-block {
    &:hover {
      cursor: pointer;
    }
  }
  &-contenedor {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-square {
    height: 90%;
    width: 90%;
    position: relative;
    border: 2px solid white;
    background-color: white;
    border-radius: 5% 2% 5% 2%;

    &::after {
      content: "";
      position: absolute;
      height: calc(100% + 13px);
      width: calc(100% + 13px);
      top: 0;
      left: 0;
      border: 2px solid white;
      border-radius: 5%;
    }
    &::before {
      content: "";
      border: 2px solid white;
      position: absolute;
      border-radius: 5%;
      bottom: 0;
      right: 0;
      height: calc(100% + 13px);
      width: calc(100% + 13px);
    }
  }

  &-descriptions {
    align-self: flex-start;
  }

  &-containerImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: aqua;
  }
  &-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(1.2);
    mix-blend-mode: multiply;
  }

  &-h3 {
    font-weight: 700;
    font-size: clamp(1rem, 2vh, 4rem);
  }
}
