<section class="About relative text-white bg-slate-900">
  <div
    class="About-presentImg relative max-h-[500px] sm:max-h-[200px] lg:max-h-[300px] 2xl:max-h-[500px] z-10"
  >
    <img
      src="assets/wallpaper.jpg"
      alt="bookImage"
      class="About-img opacity-20"
    />

    <div class="absolute top-[10%] md:top-[20%] 2xl:top-[25%] left-5">
      <small class="text-[1.1rem] text-gray-400">Acerca de la Guía</small>
      <h2
        class="text-white text-[1.5rem] sm:text-[2.2rem] lg:text-[2.5rem] font-bold leading-6 sm:leading-9 lg:w-[70%] my-2"
      >
        Ten en cuenta el orden de las secciones, te ayudará a entender mejor el
        uso del sistema.
      </h2>
    </div>
  </div>

  <div
    class="About-descriptions p-10 rounded-lg bg-slate-900 md:w-[90%] lg:-mt-20 z-10"
  >
    <h2 class="text-[2.5rem] font-semibold line">General</h2>
    <p class="About-p">
      Esta guía sirve como una profundización al sistema de contabilidad 2, para
      entender el enfoque, flujo y la finalidad de este. Nos centramos en
      especificar todo lo necesario para poder realizar cambios de manera
      independiente y rápida, se especifican los problemas comunes y las pautas
      para evitarlos, como también aquellas que son necesarias para corregir.
    </p>

    <p class="About-p">
      La guía está separada por secciones y llevan un orden de entendimiento,
      esto está ligado directamente con el proceso a seguir, es decir; la parte
      1 es la que deberías perfeccionar primero, cada una necesita tener
      conocimiento y entender de su sección antecesora para poder continuar y
      seguir el flujo correcto de aprendizaje.
    </p>

    <p class="About-p">
      Podría darse el caso donde se llegue a la necesidad de tocar variables
      internas, esto se coordinará directamente con el área de computo y de ser
      necesario se informará al programador.
    </p>

    <div class="About-sections mt-[2rem]">
      <app-sections></app-sections>
    </div>
  </div>
</section>

<div class="relative mt-[3rem] w-full left-0 bg-slate-900 bottom-0">
  <app-footer></app-footer>
</div>
