<!--   va en la clase principal Principal-container-->
<div #scrollIndicator class="scroll-indicator">
  <div class="mouse">
    <div class="wheel"></div>
  </div>
</div>

<div
  #principalContainer
  class="Principal-container text-white md:mt-[5rem] flex flex-col md:flex-row items-start"
>
  <section #descriptions class="basis-[60%]">
    <article
      #childrenContainer
      class="Principal-block Principal-block--titles mx-10 md:mx-0"
    >
      <h1
        class="Principal-h1 Principal-h1--title text-[2.2rem] sm:text-[2.8rem] lg:text-[3.5rem] font-bold"
      >
        Profundización en el sistema de contabilidad 2.
      </h1>

      <h2 class="text-[1rem] lg:text-[1.5rem] font-bol">Guía LPM Version 3</h2>

      <button
        type="button"
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        Iniciar Guía
      </button>

      <p class="Principal-p lg:w-[85%]">
        Profundiza en el uso del sistema de Contabilidad 2, sigue las
        indicaciones y recomendaciones del flujo de procesos, además revisa las
        preguntas frecuentes más solicitadas, el enfoque del sistema está
        orientado a la agilidad y la rapida solución de errores, conllevando en
        sí a un nivel de complejidad mayor en su uso.
      </p>
    </article>

    <article
      class="Descriptions-terms flex flex-col items-center md:items-start align-center gap-10 mt-10"
    >
      <section #childrenContainer class="w-[75%] self-start">
        <div class="rounded-lg p-6 border-opacity-5">
          <h2 class="uppercase font-bold mb-10">Ultimas actualizaciones</h2>
          <div class="mb-10" *ngFor="let updates of lastUpdates">
            <small class="text-[1.2rem] flex items-center gap-3">
              <svg
                class="max-w-[1.5rem]"
                fill="#3F83F8"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              {{ updates.title }}</small
            >
            <p class="mt-3 text-gray-400 md:w-[84%]">
              {{ updates.description }}
            </p>
          </div>
        </div>
      </section>

      <section #childrenContainer class="w-[70%] py-10">
        <button
          type="button"
          class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 shadow-lg shadow-blue-800/80 font-medium rounded-lg text-center text-sm px-5 py-2.5 inline-flex items-center mr-2 mb-10 cursor-default"
        >
          <svg
            class="w-4 h-4 mr-2 -ml-1 text-[#626890]"
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 32 32"
          >
            <path
              fill="white"
              d="m30 4.656l-1.28.375L5.812 12H2v8h3.813l1.968.594l-.03.093v.032c-.642 2.112.547 4.46 2.75 5.124c.01.003.022-.003.03 0c2.123.645 4.473-.53 5.126-2.75l.03-.094l13.033 3.97l1.28.374V4.656zm-2 2.688v17.312L6.28 18.03L6.157 18H4v-4h2.156l.125-.03L28 7.343zM9.687 21.187l4.094 1.22l-.03.093v.03c-.344 1.17-1.586 1.742-2.656 1.407c-1.17-.343-1.772-1.554-1.438-2.625v-.03l.03-.095z"
            />
          </svg>

          Anuncio
        </button>

        <p class="Principal-p lg:ml-3">
          El sistema de contabilidad está próximo a renovarse por uno nuevo,
          pero eso no significa que vaya a inutilizarse tan pronto, estará en
          espera y disponible para buscar información que usaron en su periodo
          de actividad (2019-2023), es indispensable que por lo menos se conozca
          el acceso a esta información; esto con el fin de poder independizar la
          adquisición de información que esté necesariamente ligado a los
          sistemas contables y puedan alcanzarse de manera simple.
        </p>
      </section>

      <!-- second -->

      <section #childrenContainer class="w-[70%] py-10">
        <button
          type="button"
          class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 shadow-lg shadow-blue-800/80 font-medium rounded-lg text-center text-sm px-5 py-2.5 inline-flex items-center mr-2 mb-10"
        >
          <svg
            class="w-4 h-4 mr-2 -ml-1 text-[#626890]"
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 32 32"
          >
            <path
              fill="white"
              d="m30 4.656l-1.28.375L5.812 12H2v8h3.813l1.968.594l-.03.093v.032c-.642 2.112.547 4.46 2.75 5.124c.01.003.022-.003.03 0c2.123.645 4.473-.53 5.126-2.75l.03-.094l13.033 3.97l1.28.374V4.656zm-2 2.688v17.312L6.28 18.03L6.157 18H4v-4h2.156l.125-.03L28 7.343zM9.687 21.187l4.094 1.22l-.03.093v.03c-.344 1.17-1.586 1.742-2.656 1.407c-1.17-.343-1.772-1.554-1.438-2.625v-.03l.03-.095z"
            />
          </svg>

          Más información y desarrollo
        </button>
        <p class="Principal-p lg:w-[83%]">
          Esta es la tercera versión de la guía de contabilidad LPM, las dos
          anteriores fueron publicadas bajo paginas de despliegues open source,
          bajo un dominio libre y realizadas con código libre y escalable. Link
        </p>
        <div class="flex flex-col py-5">
          <li>Link version 1:<a href="#"> www.lpmAppv1.vercel.com</a></li>
          <li>Link version 2:<a href="#"> www.lpmAppv2.netlify.com</a></li>
        </div>

        <p class="Principal-p lg:w-[83%]">
          La autoría de esta guía es de uso libre y puede ser editado bajo estas
          mismas condiciones, el código de desarrollo es open source y la
          información que encontrarás no usa documentación que comprometa o
          perjudique a la organización, solo es un conjunto de instrucciones
          para el manejo de un sistema de contabilidad, el acceso a este sistema
          se da bajo credenciales internas y bajo la supervisión interna de sus
          administradores u operadores.
        </p>
      </section>
    </article>
  </section>
  <section #mobileMockup class="flex-1 hidden md:block">
    <div class="Principal-block Principal-block--img flex-grow lg:relative">
      <app-mockup-mobile
        [altImgName]="'appModeMobile'"
        [urlImgMockup]="'assets/mobileImg.png'"
      ></app-mockup-mobile>
    </div>
  </section>
</div>
