<div class="Flow">
  <div class="Flow-container">
    <div class="Flow-titles">
      <h2 class="Flow-h2 font-bold text-[2.25rem] tracking-tight">
        Tabla de Flujos
      </h2>
      <small class="Font-subtitle text-gray-400 text-[1.25rem]"
        >Seguir el flujo de izquierda a derecha</small
      >
      <span
        class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded bg-gray-700 text-blue-400 border border-blue-400"
      >
        <svg
          class="w-2.5 h-2.5 me-1.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"
          />
        </svg>
        Flujograma
      </span>
    </div>
    <div class="Flow-content mt-16">
      <div class="Flow-row grid grid-cols-1 md:grid-cols-3">
        <div
          *ngFor="let item of sections | keyvalue"
          class="Flow-column border-r border-slate-500 flex flex-col gap-5"
        >
          <h2 class="Flow-h2 self-center text-[1.5rem] font-bold">
            {{ item.key | titlecase }}
          </h2>
          <div class="Flow-sections">
            <!-- section 1 -->
            <div
              *ngFor="let section of item.value"
              class="Flow-section flex flex-col items-start gap-5 py-8 px-5"
            >
              <span
                class="Flow-span text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded bg-gray-700 text-blue-400 border border-blue-400"
              >
                <svg
                  class="Flow-svg w-2.5 h-2.5 me-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"
                  />
                </svg>
                {{ section.labelName | titlecase }}
              </span>

              <small
                class="Flow-span text-[1.25rem] tracking-tight font-bold"
                >{{ section.title | titlecase }}</small
              >
              <div class="flex items-center gap-4">
                <img
                  class="w-10 h-10 rounded-full bg-slate-800"
                  src="https://res.cloudinary.com/dndimul42/image/upload/v1682024534/lpm/pd1kuqjfk0txosyiptiw.png"
                  alt=""
                />

                <div class="font-medium dark:text-white">
                  <div>{{ section.subtitle }}</div>
                  <div class="text-sm text-gray-500 dark:text-gray-400">
                    {{ section.description }}
                  </div>
                </div>
              </div>
            </div>
            <!-- section 2 -->
          </div>
        </div>
        <!--    <div class="Flow-column border-r border-slate-500">
          <h2>Valores</h2>
          <div class="Flow-sections"></div>
        </div>
        <div class="Flow-column">Reportes</div> -->
      </div>
    </div>
  </div>
</div>

<!-- <p class="text-white text-[2rem] md:text-[3rem] text-center py-5 font-bold">
  Secciones
</p>

<p class="text-gray-400 md:max-w-[60%] text-center m-auto mt-5 mb-20">
  El contenido también lo encontarás organizado en diferentes secciones, cada
  una de ellas contiene una serie de conceptos a aprender, por ejemplo la
  sección principal abarca los valores, procesos y reportes, la de mantenimiento
  abarca ingresar, modificar y eliminar trabajadores, etc.
</p>

<div id="wrapper">
  <div id="content">
    <div #accordions class="accordions">
      <div
        class="accordion bg-slate-800 cursor-pointer"
        [routerLink]="['/guide/part/section/', section]"
        #accordion
        *ngFor="let section of sections()"
      >
        <div
          class="title text-[2.2rem] sm:text-[2.8rem] lg:text-[3rem] font-bold"
        >
          {{ section | titlecase }}
        </div>
        <div #text class="text">
          Accede directamente a la sección {{ section }} para conocer sus
          componentes y su forma, cada sección es un punto a tomar en cuenta en
          el flujo del sistema.
        </div>
      </div>
    </div>
  </div>
</div>

<p class="text-white text-[2rem] md:text-[3rem] text-center py-5 font-bold">
  Contenido
</p>

<p class="text-gray-400 md:max-w-[60%] text-center m-auto mt-5">
  Encontrarás todo el contenido respectivo en cada sección correspondiente, aquí
  podrás desglozar e ir directamente a la información de lo que necesitas ,
  presiona para desglozar y verificar los conceptos.
</p>

<div *ngIf="firstContentChanged">
  <app-all-sections></app-all-sections>
</div>
 -->
