<p class="text-white text-[2rem] md:text-[3rem] text-center py-5 font-bold">
  Secciones
</p>

<p class="text-gray-400 md:max-w-[60%] text-center m-auto mt-5 mb-20">
  El contenido también lo encontarás organizado en diferentes secciones, cada
  una de ellas contiene una serie de conceptos a aprender, por ejemplo la
  sección principal abarca los valores, procesos y reportes, la de mantenimiento
  abarca ingresar, modificar y eliminar trabajadores, etc.
</p>

<div id="wrapper">
  <div id="content">
    <div #accordions class="accordions">
      <div
        class="accordion bg-slate-800 cursor-pointer"
        [routerLink]="['/guide/part/section/', section]"
        #accordion
        *ngFor="let section of sections()"
      >
        <div
          class="title text-[2.2rem] sm:text-[2.8rem] lg:text-[3rem] font-bold"
        >
          {{ section | titlecase }}
        </div>
        <div #text class="text">
          Accede directamente a la sección {{ section }} para conocer sus
          componentes y su forma, cada sección es un punto a tomar en cuenta en
          el flujo del sistema.
        </div>
      </div>
    </div>
  </div>
</div>

<p class="text-white text-[2rem] md:text-[3rem] text-center py-5 font-bold">
  Contenido
</p>

<p class="text-gray-400 md:max-w-[60%] text-center m-auto mt-5">
  Encontrarás todo el contenido respectivo en cada sección correspondiente, aquí
  podrás desglozar e ir directamente a la información de lo que necesitas ,
  presiona para desglozar y verificar los conceptos.
</p>

<!-- acordion principal -->
<div *ngIf="firstContentChanged">
  <app-all-sections></app-all-sections>
</div>
